/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    scroll-behavior: smooth;

}

/* Global styles */
body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Variables */
:root {
    --bg-color: #191f36;
    --snd-bg-color: #262B40;
    --text-color: #fff;
    --main-color: #59B2F4;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Header styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    display: none; /* Initially hidden on larger screens */
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
}

/* Home section styles */
.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.Home-content h3:nth-of-type(2){
    margin: 2rem;
}

span{
    color: var(--main-color);
    font-size: 2rem;
}

.Home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.4;
}

.Home-img img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite ;
   border: 3px solid var(--main-color);
 }
 @keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
    
 }
 .Home-content p{
    font-size: 1.6rem;
 }

 .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border-radius: 50%;
    border: 2rem solid var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    font-size: 3rem;
 }
 .social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
 }
 .btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 0.5s ease;
  }
  .btn:hover{
    box-shadow: none;
  }

/* Project section styles */
.Project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;
}

.Project-box {
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    margin-bottom: 2rem;
}

.Project-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.Project-box i {
    font-size: 5rem;
    color: var(--main-color);
}

.Project-box h3 {
    font-size: 2rem;
}

.Project-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* Contact section styles */
.Contact {
    text-align: center;
    padding: 10rem 9% 2rem;
}

.Contact h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.Contact form {
    max-width: 70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.Contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Contact form .input-box input,
.Contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.Contact form .input-box input {
    width: 49%;
}

.Contact form textarea {
    resize: none;
}

.Contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* Footer styles */
.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
    width: 100%;
}

.footer-text {
    font-size: 1.6rem;
}

.footer-icontop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-icontop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-icontop a i {
    font-size: 2.4rem;
    color: var(--snd-bg-color);
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .header {
        padding: 2rem;
    }

    .navbar {
        display: none; /* Hide navbar by default on smaller screens */
        flex-direction: column;
        position: absolute;
        top: 7rem; /* Adjust as needed */
        left: 0;
        right: 0;
        background: var(--bg-color);
        border-top: 1px solid var(--text-color);
    }

    .navbar.active {
        display: flex; /* Show navbar when active */
    }

    .navbar a {
        margin: 1rem 0;
    }

    #menu-icon {
        display: block; /* Show menu icon on smaller screens */
    }
}



@media(max-width:991px){
    .header{
      padding: 2rem 3%;
    }
    section{
      padding: 10rem 3%;
    }
    .Project{
      padding-bottom: 7rem;
    }
    .Contact{
      min-height: auto;
    }
    .footer{
      padding: 2rem 3%;
    }
  }
  
  @media (max-width: 768px) {
    #menu-icon {
        display: block;
        /* Add your styles for the menu icon here */
    }
  
    .navbar{
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background: var(--bg-color);
      border-top: .1rem solid black;
      box-shadow: 0 .5rem 1rem black;
      display: none;
    }
  
    .navbar .active ,a{
      display: block;
    }
  
    .navbar a{
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
    }
    .Home{
      flex-direction:column;
    }
    .Home-content h3{
      font-size: 2.6rem;
    }
    .Home-content h1{
      font-size: 5rem;
    }
    .Home-content{
      order:2;
    }
    .Home-img img{
      width: 70vw;
      margin-top: 4rem;
    }
    .Project h2{
      margin-bottom: 3rem;
    }
    .Project-container{
      grid-template-columns: repeat(2,1fr);
    }
  
  }
  @media(max-width: 617px){
    .Project-container{
      grid-template-columns: 1fr;
    }
    .Home-img img{
      width: 80vw;
      margin-top:8rem;
    }
  
  }
   @media(max-width:450px){
    html{
      font-size: 50%;
    }
    .Contact form .input-box input{
      width: 100%;
    }
   }
